@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Manrope:wght@200;300;400;500&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
}

nav {
    /* border-bottom: 1px solid black; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 120px;

}
.logo {
    /* border: 1px solid black; */
    width: 60%;
    font-size: 24px;
}
ul{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}
li {
    list-style-type: none;
}
li a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}
li a:hover {
    font-weight: bold;
}


/* header */
.header-wrapper {
    display: flex;
    /* border: 1px solid black; */
    margin: 30px 100px;
    padding: 20px;
}
.header-content{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.header-content-title {
    font-size: 22px;
}
.header-content-content{
    margin: 15px auto;
}
.preebook {
    width: 140px;
    background-color: white;
    border: 2px dotted black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    transition: .5s;
}
.preebook a{
    text-decoration: none;
    color: rgb(97, 97, 97);
}
.preebook:hover {
    background-color: rgb(196, 196, 196);
    border: 1px dotted black;
}
.header-logo{
    /* border: 1px solid red; */
    position: relative;
}
.bg-header-img {
    /* border: 1px solid yellow; */
    position: absolute;
    left: -35px;
    top: 15px;
    filter: drop-shadow(2px 2px 7px rgb(72, 72, 72));
}


/* e-commerce section */
.wrapper-ecom {
    display: flex;
    margin: 0 100px 50px 100px ;
    padding: 20px;
    justify-content: space-around;
    border-top:  1px solid black;
    border-bottom:  1px solid black;
}
.thumbnail-logo {
    display: flex;
}
.thumbnail-logo img{
    width: 100%;
}

/* collection */
.wrapper-collection {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.collection-title {
    text-align: center;
}
.collection-content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
}
.card-collection {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
    margin: 10px;
    border-radius: 5px;
}
.card-img{
    display: flex;
    justify-content: center;
    margin: 10px auto;
    padding: 10px;
}
.card-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
}
.card-content h2 {
    font-weight: 500;
    color: #18191F;
}
p.price {
    font-size: 24px;
    font-weight: 300;
    margin: 5px 0;
}
.rate {
    display: flex;
    margin: 5px 0;
}
.rate-start {
    color: #FB8200;
    margin-right: 5px;
}
p.detail {
    color: #787885;
    font-size: 14px;
    font-weight: 500;
}
.see-more {
    text-align: right;
    margin: 5px;
    margin-right: 110px;
}
.see-more a{
    text-decoration: none;
    color: #787885;
    
}
.see-more a:hover{
    color: #18191F;
}


/* last section */
.product-more {
    display: flex;
    justify-content: center;
    margin: 50px 100px;
    padding: 20px;
}
.bg-more-img {
    padding: 0 5px;
}
.more-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 75px;
}
.more-content-title{
    font-size: 22px;
}
.more-content-content {
    margin: 10px 0;
    margin-right: 100px;
    font-weight: 500;
    color: #787885;
    font-size: 14px;
}
.j {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
}

/* footer */
.footer-wrapper {
    background-color: rgba(10, 8, 38, 1);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 25px auto;
}
.social-icon {
    display: flex;
}
.bg-icon {
    width: 32px;
    height: 32px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.bg-icon a {
    color: white;
}
.bg-icon a:hover {
    transform: scale(110%);
}
.footer h2 {
    font-size: 20px;
}
p.satu {
    font-size: 14px;
    margin: 5px auto;
    box-sizing: border-box;
}

/* ukuran mobile */
@media screen and (max-width: 576px){
    nav{
        padding: 0;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    ul{
        width: 75%;
        justify-content: space-evenly;
        margin: 10px auto;
    }
    li a {
        color: rgb(0, 0, 0);
        font-size: 13px;  
    }
    li a:hover {
        font-weight: bold;
        transition: 1s; 
        text-shadow: 2px 2px 5px rgb(0, 0, 0); 
    }
    .logo {
        font-size: 18px;
        width: 100%;
        text-align: center;
        color: rgb(0, 0, 0);
        text-shadow: 2px 2px 5px rgba(174, 174, 174, 0.5);
    }

    /* 2 */
    .preebook {
        width: 100px;
    }
    .header-wrapper {
        display: flex;
        flex-direction: column-reverse;
        margin: 15px 50px;
    }
    .header-logo {
        width: 75%;
        margin-left: 12%;
    }
    .header-logo img {
        width: 100%;
    }
    .header-content{
        text-align: center;
        align-items: center;
        font-size: 12px;
    }
    .header-content-title {
        margin: 5px auto;
        font-size: 14px;
    }

    /* 3 */
    .wrapper-ecom {
        display: flex;
        flex-wrap: wrap;
        margin: 0 50px 25px 50px ;
        padding: 5px 0;
        justify-content: center;
        
    }
    .thumbnail-logo {
        width: 25%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }
    .thumbnail-logo img{
        width: 60%;
    }

    /* 4 */
    .wrapper-collection {
        display: flex;
        flex-direction: column;
    }
    .see-more {
        margin-right: 60px;
    }

    /* product more */
    .product-more {
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
        justify-content: center;
    }
    .wrapper-more-logo {
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }
    .more-content {
        padding: 0 50px;
        margin: 20px 0;
        text-align: center;
        align-items: center;
    }
    .more-content-title {
        font-size: 20px;
    }
    .more-content-content {
        margin: 10px 0;
        margin-right: 0;
        font-weight: 500;
        color: #787885;
        font-size: 12px;
    }

    .footer-wrapper {
        margin-top: 50px;
    }
}